<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>getHeatmapData</servlet-name>
        <servlet-class>de.i3mainz.servlets.getHeatmapData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getData</servlet-name>
        <servlet-class>de.i3mainz.servlets.getData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autocomplete</servlet-name>
        <servlet-class>de.i3mainz.servlets.autocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queryGazetteers</servlet-name>
        <servlet-class>de.i3mainz.servlets.queryGazetteers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlacesAndDistances</servlet-name>
        <servlet-class>de.i3mainz.servlets.getPlacesAndDistances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlacesAndDistancesDatabase</servlet-name>
        <servlet-class>de.i3mainz.servlets.getPlacesAndDistancesDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDAIgazetteerData</servlet-name>
        <servlet-class>de.i3mainz.servlets.getDAIgazetteerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPeripleo</servlet-name>
        <servlet-class>de.i3mainz.servlets.getPeripleo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPeriodoData</servlet-name>
        <servlet-class>de.i3mainz.servlets.getPeriodoData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getChronOntologyGeo</servlet-name>
        <servlet-class>de.i3mainz.servlets.getChronOntologyGeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>W_ChronOntologyGEO</servlet-name>
        <servlet-class>de.i3mainz.widgets.W_ChronOntologyGEO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getWorldJSON</servlet-name>
        <servlet-class>de.i3mainz.servlets.getWorldJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getHeatmapData</servlet-name>
        <url-pattern>/getHeatmapData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getData</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autocomplete</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryGazetteers</servlet-name>
        <url-pattern>/queryGazetteers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlacesAndDistances</servlet-name>
        <url-pattern>/getPlacesAndDistances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlacesAndDistancesDatabase</servlet-name>
        <url-pattern>/getPlacesAndDistancesDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDAIgazetteerData</servlet-name>
        <url-pattern>/getDAIgazetteerData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPeripleo</servlet-name>
        <url-pattern>/getPeripleo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPeriodoData</servlet-name>
        <url-pattern>/getPeriodoData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getChronOntologyGeo</servlet-name>
        <url-pattern>/getChronOntologyGeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>W_ChronOntologyGEO</servlet-name>
        <url-pattern>/W_ChronOntologyGEO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getWorldJSON</servlet-name>
        <url-pattern>/getWorldJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
